$font-headings: "Courgette", cursive;
$font-body: "Poppins", sans-serif;

//$font-headings: "Lobster", sans-serif;

// Christmas Palette
$lightRed: #f5624d;
$darkRed: #d32320;
$lightGreen: #34a65f;
$darkGreen: #0f8a5f;
$lightGray: #f8f9fa;
$white: #faf8f8;
