#hero {
  padding: 80px 20px; // Reduced horizontal padding for smaller screens
  .container-fluid {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    position: relative;

    .left {
      display: flex;
      flex-grow: 1;
      flex-direction: column; // Ensures vertical alignment of children
      justify-content: center;
      align-items: center;
      padding: 0 15px; // Provides padding for smaller screens

      h1 {
        font-size: 5rem;
        letter-spacing: 0.05em;
        text-shadow: 2px 2px 2px rgba(255, 254, 254, 0.2);
        font-weight: 600;
        margin: 0 0 20px; // Adds bottom margin
      }

      p {
        font-size: 1.25rem; // Ensures readable font size
      }

      .btn {
        padding: 10px 20px; // Larger touch targets for mobile
        //font-size: 1.2rem; // Larger font size for readability
      }
    }

    .right {
      position: relative;
      img {
        border-radius: 43% 57% 47% 53% / 62% 31% 69% 38%;
        box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.233);
        opacity: 0.8;
        width: 800px;
        height: auto;
        z-index: 1;
        padding: 10px;
      }
      .rating,
      .countdown {
        position: absolute;
        width: 300px;
        padding: 20px;
        background: rgba(255, 255, 255, 0.5);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        z-index: 2;
      }

      .rating {
        top: 10%;
        right: 70%; // Initial positioning
      }

      .countdown {
        top: 70%;
        .values {
          display: flex;
        }
      }
    }
  }

  // Responsive adjustments
  @media (max-width: 1200px) {
    .container-fluid {
      flex-direction: column;
      align-items: center;
      .left,
      .right {
        order: 1;
        width: 100%; // Full width for better use of space
        padding: 0;
      }
      .right img {
        width: 90%; // Full width images on smaller screens
      }

      .rating,
      .countdown {
        right: 50%; // Centralize more over the image
        transform: translateX(
          50%
        ); // Adjust to exactly center the element over the image
      }
    }

    .left h1 {
      font-size: 4rem; // Slightly smaller to fit medium screens
    }
  }

  @media (max-width: 768px) {
    // Small devices like phones
    .container-fluid {
      .right {
        display: none; // Hide the right div
      }
    }
    .left h1 {
      font-size: 3rem; // Even smaller font for small screens
    }
    .left p,
    .left .btn {
      font-size: 1rem; // Adjusts font size for better readability
    }
  }
}
