@import "variables";

#sestaveni {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
  background-color: #ffffff6b;
  color: black;

  h1 {
    padding-top: 20px;
    margin-bottom: 30px;
    color: $darkGreen;
  }

  .row {
    justify-content: center;
  }

  img.sestaveniImg {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  p {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
}

// .sestaveni {
//   .container {
//     display: flex;
//   }
// }
