@import "variables";

$font-headings: "Playfair Display", serif;
$font-body: "Lora", serif;

$dark-green: #0a481e;
$red: #b22222;
$gold: #daa520;
$beige: #f5f5dc;
$white: #ffffff;

// fonty
body {
  font-family: $font-body;
  font-weight: normal;
  font-size: 16px; // Případně upravte podle potřeb
  line-height: 1.6; // Případně upravte podle potřeb
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-headings;
  font-weight: 700; // Použití tučné varianty pro nadpisy
}

// barvy

// rules
.belt {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
  padding: 20px;

  .box {
    flex-grow: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

    .p,
    h2 {
      padding: 0;
      margin: 0;
    }
  }
}

// misc
.popis {
  margin: 60px auto;
}

.sestaveni {
  padding: 30px;
}

.sestaveniImg {
  padding: 10px;
}

/* Custom CSS to limit the maximum width of fluid containers */
.max-width-custom {
  max-width: 3000px; /* or any maximum width you prefer */
  margin-right: auto;
  margin-left: auto;
}

.faq {
  //   display: flex;
  //   align-items: center; /* Aligns vertically */
  //   justify-content: center; /* Aligns horizontally */
  margin: 60px auto;
}

.row {
  align-items: center;
}
