@import "variables";

body {
  font-family: $font-body;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;

  background: url("../images/pattern.jpg") center / contain repeat,
    linear-gradient(rgba(255, 255, 255, 0.98), rgba(255, 255, 255, 0.98));
  background-blend-mode: overlay;
}

section {
  h1 {
    font-size: 2.5rem;
    text-align: center;
    color: $darkGreen;
    padding-bottom: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkGreen;
  font-family: $font-headings;
}

// header and nav
header {
  color: $white;
}

.navbar {
  background-color: $white;
  padding: 20px;

  .row {
    align-items: center;
  }

  span {
    display: flex;
    padding: 20px;
    color: black;

    align-items: center;
    h3 {
      color: black;
    }
  }
}

.navbar-nav {
  flex-grow: 0.05;
  justify-content: space-evenly;
}

nav {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  text-transform: uppercase;
}

.nav-link {
  color: black;
  line-height: 1.2;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.jumbotron {
  padding: 60px 0;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  background: url("../images/pattern.jpg") center / contain repeat,
    linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  background-blend-mode: overlay;

  .heroHeader {
    color: $darkGreen;
    font-size: 5rem;
    letter-spacing: 0.04em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.7);
    font-weight: 800;
    padding: 0px;
    span {
      text-decoration: solid underline $darkRed 5px;
    }
  }

  .heroText {
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    font-weight: 500;
  }
}

@media (min-width: 1400px) {
  .jumbotron {
    background: url("../images/branch.png") top right / contain no-repeat,
      url("../images/pattern.jpg") center / contain repeat,
      linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95));
    background-blend-mode: normal, overlay, normal; /* Adjusted blend modes */

    .content {
      align-items: flex-start;
    }
    .heroHeader {
      font-size: 7rem;
    }
  }
}

@media (min-width: 2000px) {
  .jumbotron {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

    background: url("../images/whiteBranch.png") top left / contain no-repeat,
      url("../images/branch.png") top right / contain no-repeat,
      url("../images/pattern.jpg") center / contain repeat,
      linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)); /* Lighter overlay for subtle blending */
    background-blend-mode: normal, normal, overlay, normal; /* Normal blend mode for new and branch images, overlay for pattern */

    .heroHeader {
      font-size: 7rem;
    }
  }
}

//Produts section
.products {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
  background-color: #ffffffab; /* Light gray background for subtle contrast */
  padding-top: 20px;
  padding-bottom: 40px;

  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center; /* Centers the title */
  }

  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Ensures items are centered */
    gap: 10px;
    margin: 0 auto; /* Added to center the container within the section */
  }

  .product {
    display: flex;
    flex-direction: column;
    width: 100%; /* Full width on mobile */
    max-width: 400px; /* Sets maximum width for each product */
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px; /* Consistent margin */

    img.img-fluid {
      width: 100%;
      max-height: 350px;
      object-fit: contain;
    }

    .text {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      justify-content: space-between;
      padding: 10px;

      h3 {
        font-size: 1.2rem;
        text-align: center;
      }

      p {
        color: #666;
        line-height: 1.6;
        font-size: 0.9rem;
        margin-bottom: 10px;
        padding-left: 10px;
      }

      .treeProperties {
        display: flex;
        background-color: #f0f0f0;
        padding: 8px;
        border-radius: 5px;
        margin: 10px 0;

        p {
          flex: 1;
          text-align: center;
          margin: 0 10px;

          i {
            margin-right: 5px;
          }
        }
      }
      .rating-and-price {
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        font-size: 0.9rem;
        .rating {
          display: flex;
          color: #ffbb33; /* Golden color for stars */
          i {
            margin-right: 3px; /* Space between stars */
          }
          p {
            display: flex;
            align-items: center;
            color: black;
            font-weight: bold;
          }
        }
      }

      button {
        align-self: center;
        background-color: $darkGreen;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #005a4c;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .container {
    justify-content: space-between; /* Adjusts spacing to be even */
  }

  .product {
    width: calc(50% - 10px); /* Adjust width to account for gap */
  }
}

// Benefits section
.benefits {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin-bottom: 80px;
  padding-top: 20px;
  .info-box {
    flex-basis: 100%;

    background-color: $white;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    h3 {
      font-size: 1.4rem;
      color: $darkGreen;
      margin-bottom: 10px;
      i {
        margin-right: 5px;
      }
    }

    p {
      color: #666;
      line-height: 1.6;
    }
  }

  @media (min-width: 768px) {
    .info-box {
      flex-basis: calc(50% - 20px); // Two boxes per row on medium screens
    }
  }

  @media (min-width: 992px) {
    .info-box {
      flex-basis: calc(33.333% - 20px); // Three boxes per row on large screens
    }
  }
}

//FAQ
.faq {
  padding-top: 20px;
  margin-bottom: 80px;

  h1 {
    padding-bottom: 20px;
    color: $darkGreen;
    font-size: 2.2rem;
  }

  .accordion-item {
    border: none;
    background-color: white;
    margin-bottom: 2px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

    .accordion-header {
      button.accordion-button {
        background-color: $lightGray;
        color: $darkGreen;
        font-size: 1.2rem;
        padding: 15px 20px;

        &:not(.collapsed) {
          background-color: $darkGreen;
          color: $white;
        }

        &::after {
          content: "";
          background-image: url("../images/chevron-expand.svg");
          display: inline-block;
          width: 20px;
          height: 20px;
          background-size: contain;
          background-repeat: no-repeat;
        }
      }
    }

    .accordion-collapse {
      transition: max-height 0.4s ease-in-out;

      .accordion-body {
        padding: 20px;
        font-size: 0.95rem;
        line-height: 1.4;
        color: #555;
      }
    }
  }
}

//sestaveni
.sestaveni {
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.02) 0px 0px 0px 1px;
  background-color: #ffffff6b;
  color: black;

  h1 {
    padding-top: 20px;
    margin-bottom: 30px;
    color: $darkGreen;
  }

  .row {
    justify-content: center;
  }

  img.sestaveniImg {
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  p {
    margin-top: 10px;
    font-size: 1.2rem;
    text-align: center;
  }
}

//cta
.cta {
  padding: 80px 0;
  h1 {
    font-size: 4rem;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  }
}

// Footer

footer {
  // background: url("../images/pattern.jpg") center / contain repeat,
  //   linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
  // background-blend-mode: overlay;
  background-color: $white;
  color: $darkGreen;
  padding: 20px 0;
  font-size: 0.9rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

  .container {
    padding: 20px;
  }

  h5 {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 15px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li a {
      color: $darkGreen;
      text-decoration: none;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: $darkRed;
      }
    }
  }

  .justify-content-space {
    justify-content: space-between;
  }

  .text-center {
    text-align: center;
    border-top: 1px solid #34495e;
    padding-top: 10px;
  }

  .me-2 {
    margin-right: 8px;
  }

  .bi {
    font-size: 1.5rem;
    color: $darkRed;
  }
}

/* Custom CSS to limit the maximum width of fluid containers */
.max-width-custom {
  max-width: 3000px;
  margin-right: auto;
  margin-left: auto;
}

.btn {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background: rgba(15, 138, 95, 0.808);
  min-width: 200px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}

.btn:hover {
  opacity: 0.95;
}

.btn .animation {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}

@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1),
      0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1),
      0 0 0 60px rgba(255, 255, 255, 0.1);
  }

  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1),
      0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1),
      0 0 0 80px rgba(255, 255, 255, 0);
  }
}
