@import "variables";

$font-headings: "Playfair Display", serif;
$font-body: "Lora", serif;

// $font-headings: "Sancreek", serif;

// $gold: #d4af37;
$white: #faf8f8;
// $platinum: #e2eae6;

// Christmas Palette
$lightRed: #f5624d;
$darkRed: #d32f2f;
$lightGreen: #34a65f;
$darkGreen: #0f8a5f;
$blue: #235e6f;

// fonty
body {
  background-color: $white;
  font-family: $font-body;
  font-weight: normal;
  font-size: 16px; // Případně upravte podle potřeb
  line-height: 1.6; // Případně upravte podle potřeb
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkGreen;

  font-family: $font-headings;
  // font-weight: 700; // Použití tučné varianty pro nadpisy
}

.topbar {
  background-color: #d32f2f;
}

.navbar {
  .row {
    align-items: center;
  }

  span {
    display: flex;
    align-items: center;
    color: black;

    h3 {
      color: black;
    }
  }
}

// .nav-item {
//   i {
//     color: $darkGreen;
//   }
// }

nav {
  background-color: $white;
  // background-color: $gold;
  text-transform: uppercase;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}

.hero {
  margin: 40px auto;
  // background-color: rgba(226, 234, 230, 0.218);
  overflow: hidden;

  .btnHero {
    background-color: $lightGreen;
  }

  .imgHero {
    content: "";
    width: 600px;
    // height: 571px;
    background-size: cover;
    position: absolute;
    // top: -150px;
    top: 80px;

    z-index: -1;
  }

  // .heroContent {
  //   background: rgba(226, 234, 230, 0.15);
  //   box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  //   backdrop-filter: blur(3.5px);
  //   -webkit-backdrop-filter: blur(3.5px);
  //   border-radius: 10px;
  // }

  .heroContent {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: $lightGreen;
      font-weight: bold;
      text-decoration: none;
    }
  }

  @media (max-width: 767px) {
    .imgHero {
      display: none;
    }
    .heroContent {
      background: none;
      border-radius: 0;
      box-shadow: none;
      backdrop-filter: none;
      -webkit-backdrop-filter: none;
    }
  }
}

.underHero {
  margin: 40px auto;
}

// rules
.belt {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  flex-grow: 1;
  justify-content: center;
  // background-color: $platinum;
  // box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em,
  //   rgba(90, 125, 188, 0.05) 0px 0.25em 1em;

  padding: 40px;

  h2 {
    // color: $platinum;
    color: $darkRed;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  }

  p {
    padding-top: 20px;
  }
}

.popis {
  margin-top: 40px;
}

.separator {
  transform: rotate(180deg);
}

.faq {
  margin: 60px auto;

  .row {
    align-items: center;
  }

  .closeup {
    border-radius: 15px;
  }

  .accordion-button {
    background-color: $white;
  }
}

.sestaveni {
  // background-color: $platinum;
}

footer {
  // background-color: $platinum;
  a {
    color: black;
    text-decoration: none;
  }

  p {
    color: black;
  }
}

/* Custom CSS to limit the maximum width of fluid containers */
.max-width-custom {
  max-width: 3000px; /* or any maximum width you prefer */
  margin-right: auto;
  margin-left: auto;
}

// /* CSS */
// .button-38 {
//   background-color: $darkGreen;
//   border: 0;
//   border-radius: 0.5rem;
//   box-sizing: border-box;
//   color: white;
//   // color: $green;
//   font-size: 0.875rem;
//   font-weight: 600;
//   line-height: 1.25rem;
//   padding: 0.75rem 1rem;
//   text-align: center;
//   text-decoration: none #d1d5db solid;
//   text-decoration-thickness: auto;
//   box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
//   cursor: pointer;
//   user-select: none;
//   -webkit-user-select: none;
//   touch-action: manipulation;
// }

// .button-38:hover {
//   background-color: rgb(249, 250, 251);
// }

// .button-38:focus {
//   outline: 2px solid transparent;
//   outline-offset: 2px;
// }

// .button-38:focus-visible {
//   box-shadow: none;
// }

.jumbotron {
  display: flex;
  align-items: center; // To vertically align the container to the center
  position: relative;
  overflow: hidden;
  background-color: black;
  height: 100vh; // Set to full viewport height
}

.jumbotron video {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.jumbotron .container {
  display: flex; // Use flexbox for inner container layout
  width: 100%; // Full width to utilize space next to the divider
  z-index: 2;
  position: relative;
  color: white;
  text-shadow: 1px 1px 2px black; // Shadow for better text visibility
}

.jumbotron .vertical-divider {
  border-left: 1px solid #fff; // White vertical divider
  margin-right: 20px; // Spacing from the divider to the text
  padding-left: 20px; // Optional padding for visual spacing inside the text container
}

@media (max-width: 768px) {
  .jumbotron .vertical-divider {
    display: none; // Hide divider on small screens
  }
}

.animated {
  font-size: 2.5em;
  letter-spacing: 0;

  text-shadow: 0 0 80px rgb(5, 5, 5);

  /* Clip Background Image */

  background: url("/assets/images/textAnimation.png") repeat-y;
  -webkit-background-clip: text;

  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;
  animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

@-webkit-keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

@keyframes aitf {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.btn {
  text-decoration: none;
  border: 1px solid #0f8a5f; // Updated to new color
  position: relative;
  overflow: hidden;
  color: white; // Ensures the text color is white
  background-color: transparent; // Makes the background transparent
  padding: 0.75rem 1.5rem; // Standard Bootstrap padding for buttons
  font-size: 1rem; // Standard Bootstrap font size for buttons
  transition: background-color 0.3s, color 0.3s; // Smooth transition for hover effects

  &:hover {
    color: #fff; // White text on hover
    background-color: rgba(15, 138, 95, 0.4); // Updated color with transparency
    box-shadow: 1px 1px 25px 10px rgba(15, 138, 95, 0.4); // Updated shadow color
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      120deg,
      transparent,
      rgba(15, 138, 95, 0.4),
      // Updated gradient color
      transparent
    );
    transition: all 650ms;
  }

  &:hover::before {
    left: 100%; // Ensures the gradient slides across the button on hover
  }
}
